version: "3.9"

services:
  model-training:
    build:
      context: ./spark-training
      dockerfile: Dockerfile
    image: model-training:latest
    container_name: spark-ml
    environment:
      SPARK_MASTER_NAME: spark-master
      SPARK_MASTER_PORT: 7077
      ENABLE_INIT_DAEMON: "false"
      DATA_PATH: /data/full_data_flightdelay.csv
      MODEL_PATH: /model/lr_pipeline_model
    volumes:
      - ./data:/data
      - ./model:/model
    networks:
      - bde
      
networks:
  bde:
    external: true
